In [2]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/24/02/a5b6271da75cd7f67d9ec834cd79c8d65c1329e1eddfb707c56ded963d3d/mysql_connector_python-8.1.0-cp38-cp38-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.1.0-cp38-cp38-win_amd64.whl.metadata (2.1 kB)
Collecting protobuf<=4.21.12,>=4.21.1 (from mysql-connector-python)
  Downloading protobuf-4.21.12-cp38-cp38-win_amd64.whl (527 kB)
     ---------------------------------------- 0.0/527.0 kB ? eta -:--:--
     --------------------------- --------- 389.1/527.0 kB 12.2 MB/s eta 0:00:01
     -------------------------------------- 527.0/527.0 kB 8.3 MB/s eta 0:00:00
Downloading mysql_connector_python-8.1.0-cp38-cp38-win_amd64.whl (10.8 MB)
   ---------------------------------------- 0.0/10.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/10.8 MB 15.5 MB/s eta 0:00:01
   --- ------------------------------------ 0.9/10.8 MB 8.5 MB/s eta 0:00:02
   ----- ---------------------------------- 1.4/10.8 MB 9.7 MB/s eta 0:00:01
   ------ --------------------------------- 1.8/10.8 MB 9.6 MB/s eta 0:00:01
   ------- -------------------------------- 2.1/10.8 MB 9.5 MB/s eta 0:00:01
   ------- -------------------------------- 2.1/10.8 MB 9.5 MB/s eta 0:00:01
   ------- -------------------------------- 2.1/10.8 MB 9.5 MB/s eta 0:00:01
   ------- -------------------------------- 2.1/10.8 MB 9.5 MB/s eta 0:00:01
   ------- -------------------------------- 2.1/10.8 MB 9.5 MB/s eta 0:00:01
   -------- ------------------------------- 2.2/10.8 MB 4.5 MB/s eta 0:00:02
   --------- ------------------------------ 2.6/10.8 MB 4.7 MB/s eta 0:00:02
   ---------- ----------------------------- 3.0/10.8 MB 5.0 MB/s eta 0:00:02
   ------------ --------------------------- 3.4/10.8 MB 5.2 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/10.8 MB 5.4 MB/s eta 0:00:02
   --------------- ------------------------ 4.2/10.8 MB 5.7 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 4.6/10.8 MB 5.9 MB/s eta 0:00:02
   ----------------- ---------------------- 4.6/10.8 MB 3.6 MB/s eta 0:00:02
   ----------------- ---------------------- 4.7/10.8 MB 3.5 MB/s eta 0:00:02
   ----------------- ---------------------- 4.7/10.8 MB 3.4 MB/s eta 0:00:02
   ----------------- ---------------------- 4.8/10.8 MB 3.4 MB/s eta 0:00:02
   ------------------- -------------------- 5.2/10.8 MB 3.5 MB/s eta 0:00:02
   -------------------- ------------------- 5.6/10.8 MB 3.6 MB/s eta 0:00:02
   ---------------------- ----------------- 6.1/10.8 MB 3.8 MB/s eta 0:00:02
   ----------------------- ---------------- 6.3/10.8 MB 3.9 MB/s eta 0:00:02
   ------------------------ --------------- 6.5/10.8 MB 3.9 MB/s eta 0:00:02
   ------------------------- -------------- 7.0/10.8 MB 4.1 MB/s eta 0:00:01
   --------------------------- ------------ 7.5/10.8 MB 4.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/10.8 MB 4.4 MB/s eta 0:00:01
   -------------------------------- ------- 8.7/10.8 MB 4.6 MB/s eta 0:00:01
   ---------------------------------- ----- 9.2/10.8 MB 4.8 MB/s eta 0:00:01
   ------------------------------------ --- 9.8/10.8 MB 4.9 MB/s eta 0:00:01
   -------------------------------------- - 10.3/10.8 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------  10.8/10.8 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 10.8/10.8 MB 4.9 MB/s eta 0:00:00
Installing collected packages: protobuf, mysql-connector-python
Successfully installed mysql-connector-python-8.1.0 protobuf-4.21.12

In [3]:
import mysql.connector

#### 1. Create Connection

```
mydb = mysql.connector.connect(
    host = ,
    user = ,
    password = ,
)
```

#### Create Connection 예제 1
- Local Database 연결

In [4]:
local = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '120800'
)

#### Create Connection 예제 2
- AWS RDS (database-1) 연결

In [5]:
remote = mysql.connector.connect(
    host = 'database-1.chmbp2zmsp5d.ap-southeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'Jake120800!'
)

#### Close Database

In [6]:
local.close()

In [7]:
remote.close()

#### Create Connection 예제 1
- Local MySQL의 zerobase에 연결

In [8]:
local = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '120800',
    database = 'zerobase'
)

In [9]:
local.close()

- AWS RDS(database-1)의 zerobase에 연결

In [10]:
remote = mysql.connector.connect(
    host = 'database-1.chmbp2zmsp5d.ap-southeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'Jake120800!',
    database = 'zerobase'
)

In [11]:
remote.close()

#### Execute SQL
- Query를 실행하기 위한 코드

#### Execute SQL 예제 1
- 테이블 생성

In [12]:
remote = mysql.connector.connect(
    host = 'database-1.chmbp2zmsp5d.ap-southeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'Jake120800!',
    database = 'zerobase'
)

cur = remote.cursor()
cur.execute("create table sql_file (id int, filename varchar(16))")

remote.close()

#### Execute SQL 예제 2
- 테이블 삭제

In [13]:
remote = mysql.connector.connect(
    host = 'database-1.chmbp2zmsp5d.ap-southeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'Jake120800!',
    database = 'zerobase'
)

cur = remote.cursor()
cur.execute("drop table sql_file")

remote.close()

#### Execute SQL File 예제 1
- test03.sql 생성, 실행

In [14]:
remote = mysql.connector.connect(
    host = 'database-1.chmbp2zmsp5d.ap-southeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'Jake120800!',
    database = 'zerobase'
)

cur = remote.cursor()
sql = open("test03.sql").read()
cur.execute(sql)

remote.close()

#### Execute SQL File 예제 2
- SQL File 내에 Query가 여러개 존재하는 경우
- test04.sql 생성, 실행

In [17]:
remote = mysql.connector.connect(
    host = 'database-1.chmbp2zmsp5d.ap-southeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'Jake120800!',
    database = 'zerobase'
)

cur = remote.cursor()
sql = open('test04.sql').read()
for result_iterator in cur.execute(sql, multi=True):
    if result_iterator.with_rows:
        print(result_iterator.fetchall())
    else:
        print(result_iterator.statement)

remote.commit()
remote.close()

insert into sql_file values (1, "test01.sql")
insert into sql_file values (2, "test02.sql")
insert into sql_file values (3, "test03.sql")
insert into sql_file values (4, "test04.sql")

#### Fetch All 예제
- celeb 테이블을 조회 (읽어올 데이터 양이 많은 경우 bufferd=True)

In [18]:
remote = mysql.connector.connect(
    host = 'database-1.chmbp2zmsp5d.ap-southeast-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'Jake120800!',
    database = 'zerobase'
)

In [20]:
cur = remote.cursor(buffered=True)
cur.execute("select * from sql_file")

result = cur.fetchall()
#result가 list형태임.
for result_iterator in result:
    print(result_iterator)

remote.close()

(1, 'test01.sql')
(2, 'test02.sql')
(3, 'test03.sql')
(4, 'test04.sql')

In [21]:
result

[(1, 'test01.sql'), (2, 'test02.sql'), (3, 'test03.sql'), (4, 'test04.sql')]

#### 참고, 검색결과를 pandas로 읽기

In [22]:
import pandas as pd

In [23]:
df = pd.DataFrame(result)
df.head()

   0           1
0  1  test01.sql
1  2  test02.sql
2  3  test03.sql
3  4  test04.sql